<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListarProfesores</title>
    <link rel="stylesheet" href="/wwwroot/css/style.css">
    <!-- <style>
        body{
            background-color: lightblue;
        }
        h2{
            color: rgb(32, 32, 97);
            font-family: inherit;
            font-style: italic;
            text-align: center;
        }
        div{
            background-color: white;
        }
        table{
            text-align: center;
            border:1px black  double;

        }
        td{
            border:1px black  double;
            
        }
        
    </style>     -->
    
</head>
<body>
    <h2>Lista de profesores:</h2>

    <div>
        <table>
            <tr>
                <td>Nombre:</td>
                <td>Apellido:</td>
                <td>Email:</td>
            </tr>
            <tr>
                <td>Valor 1</td>
                <td>Valor 2</td>
                <td>Valor 3</td>
            </tr>
            <tr>
                <td>Valor 1</td>
                <td>Valor 2</td>
                <td>Valor 3</td>
            </tr>
            <tr>
                <td>Valor 1</td>
                <td>Valor 2</td>
                <td>Valor 3</td>
            </tr>

        </table>
    </div>
    <a href="../Profesores.html">Volver</a>
    
</body>
</html>