<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>
    <link rel="stylesheet" href="../../css/style.css">

</head>
<body>
    <h1>Materias</h1>
    <div>
        <nav class="nav">
            <ul class="menuPrincipal">
                <h2>Menu Materias:</h2>
                <li><a href="../ViewsMaterias/MenuMaterias/AgregarMaterias.html">Agregar materia</a></li>
                <li><a href="../ViewsMaterias/MenuMaterias/ListarMaterias.html">Listar materias</a></li>
            </ul>
            <a href="../../index.html" class="volver">Volver</a>
        </nav>
        
    </div>    
</body>
</html>