body{
    background-color:#2EC19D;
}
h1{
    color:white;
    font-family:sans-serif;
    text-align: center;
    padding: 20px;
}  
h2{
    background-color:bisque;
    color:darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
    
}  
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
}
.nav{
    width: 1000px;
    margin: 30px auto;
    background-color: #054434;
}

.nav ul{
    list-style:none;
}

.menuPrincipal > li{
    position:relative;
    display:inline-block;
}
.menuPrincipal > li > a{
    display:block;
    padding:15px 20px;
    color:aliceblue;
    font-family:sans-serif;
    text-decoration: none;
}
.menuPrincipal li a:hover{
    color:rgb(7, 85, 75);
    background-color: cyan;
}
/* submenu */
.subMenu{
    position: absolute;
    width: 100%;
    display: none;
}
.subMenu li a{
    display: block;
    padding: 15px;
    color:rgb(5, 32, 32);
    background-color: lightcyan;
}
.menuPrincipal li:hover .subMenu{
    display: block;

}
.volver{
    color:cornsilk;
    font-family: initial;
    padding:10px;
}
.volver:hover{
    color:black;
    background-color: rgb(207, 234, 235);
    text-decoration: none;
}
