body{
    background-color:#2EC19D;
}
h1{
    color:white;
    font-family:sans-serif;
    text-align: center;
    padding: 20px;
}  
h2{
    background-color:bisque;
    color:darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
    
}  
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
}
.Agregar{
    background-color: teal;
}
#menuPrincipal li{
    text-align: center;
    padding:0;
    /* con display podemos colocar el menu de forma horizontal */
    display: inline;
}
#menuPrincipal li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    float: left;
    padding: 20px;
    background-color: #0c4244;
    color: #fff;
    }
#menuPrincipal li a:hover {
        background-color: #78f5cf;
        margin-top: -2;
        padding-bottom: 12px;
        }
