<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListarAlumnos</title>
    <!-- <script src="/wwwroot/css/style.css"></script> -->
    <style>
        body{
            background-color: lightblue;
        }
        h2{
            color: rgb(32, 32, 97);
            font-family: inherit;
            font-style: italic;
            text-align: center;
        }
        div{
            background-color: white;
        }
        table{
            text-align: center;
            border:1px black  double;

        }
        td{
            border:1px black  double;
            
        }
    </style>
</head>
<body>
    <h2>Lista de alumnos:</h2>

    <div>
        <table>
            <tr>
                <th>Nombre:</th>
                <td>valor 1</td>

            </tr>
            <tr>
                <th>Apellido:</th>
                <td>valor 2</td>

            </tr>
            <tr>
                <th>Email:</th>
                <td>valor 3</td>

            </tr>
            <tr>
                <th>Edad:</th>
                <td>valor 4</td>

            </tr>
            <tr>
                <th>Carrera:</th>
                <td>valor 5</td>

            </tr>            
        </table>
    </div>
    <a href="../Alumnos.html">Volver</a>
    
</body>
</html>